numpy==1.26.4 #numpy version  1.26.4
pandas==2.1.4 #pandas version  2.1.4
matplotlib==3.7.1 #matplotlib version  3.7.1
sns==0.13.1 #sns version  0.13.1
streamlit==1.44.1 #streamlit version  1.44.1
joblib==1.2.0 #joblib version  1.2.0
